<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--add name="GinTubEntities" connectionString="metadata=res://*/Repository.devSchema.csdl|res://*/Repository.devSchema.ssdl|res://*/Repository.devSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=GinTub;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <add name="GinTubEntities" connectionString="metadata=res://*/Repository.devSchema.csdl|res://*/Repository.devSchema.ssdl|res://*/Repository.devSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=GinTub;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>